:root {
    /* COLORS */

    --color-bg: hsl(220, 13%, 95%);
    --color-dark-blue: hsl(214, 38%, 28%);
    --color-light-blue: hsl(210, 36%, 77%);
    --color-light-blue-hover: hsl(210, 36%, 77%, 0.6);
    --color-light-grey: hsl(220, 13%, 95%);
    --color-dark-grey: hsl(40, 6%, 79%);
    --color-font-regular: hsl(231, 39%, 7%);

    /* Mobile */
    --font-size-mobile: 1.6rem;

    --padding-mobile-frame: 3rem 10%;
    /* Tablet */
    /* Desktop */
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archia", sans-serif;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    min-height: 100vh;

    font-size: var(--font-size-mobile);
    line-height: 1.5;
    color: var(--color-font-regular);
}
header {
    padding: var(--padding-mobile-frame);

    justify-content: space-between;
    align-items: center;

    position: relative;
}

.logo {
    width: 7rem;
    height: 7rem;
}

.logo > img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.menu,
.close-icon {
    width: 20px;
    height: 16px;

    justify-content: space-between;

    cursor: pointer;

    position: relative;
}

.menu__line,
.close__line {
    width: 100%;
    height: 2px;
    background-color: black;
}

.close-icon {
    margin: 3rem auto 0;
}

.close-icon:hover .skew-l1,
.skew-l3 {
    background-color: var(--color-light-blue);
}
.close-icon:hover .skew-l3 {
    background-color: var(--color-light-blue);
}

.close__line {
    background-color: var(--color-light-grey);
}

.line-2 {
    width: 70%;
    margin-left: auto;
}

.skew-l1 {
    transform: translateX(5px) rotate(45deg) translateY(10px);
}

.hide-l2 {
    opacity: 0;
}
.skew-l3 {
    transform: translateX(5px) rotate(-45deg) translateY(-10px);
}

.skew-l1,
.skew-l3 {
    background-color: hsl(210, 36%, 77%, 0.3);
}

/* Navbar */

.navbar {
    display: none;
    flex-direction: column;
    justify-content: space-around;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9;

    background-color: var(--color-dark-blue);
}

.nav {
    padding: var(--padding-mobile-frame);

    list-style: none;
    text-transform: capitalize;
    font-size: 1.7rem;

    justify-content: center;
}

.nav__item {
    position: relative;

    display: flex;
}

.nav__link {
    width: 100%;

    text-decoration: none;
    /* color: var(--color-light-grey); */
    color: var(--color-light-blue-hover);
    text-align: center;

    padding: 2.1em 10%;
}

.nav__link:hover {
    color: var(--color-light-grey);
}

.media {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.media a > svg {
    width: 18px;
    height: 18px;

    fill: var(--color-light-blue-hover);

    cursor: pointer;
}

.media a > svg:hover {
    fill: var(--color-light-blue);
}

.portfolio-nav-sub,
.nav-sub-sub {
    display: none;
}

@media (min-width: 900px) {
    header {
        height: fit-content;
    }

    .navbar {
        position: initial;
        height: auto;

        display: flex;
        flex-direction: row;
        justify-content: end;

        background-color: transparent;
    }

    .nav {
        display: flex;
        flex-direction: row;
        padding: 0;
    }

    .nav__link {
        padding: 0.5em 2.5em;
        color: var(--color-light-blue);
        position: relative;
    }

    .unwrap::before {
        content: "";
        display: block;

        background-color: var(--color-dark-blue);

        position: absolute;
        width: 7px;
        height: 7px;
        top: 50%;
        right: 1rem;

        transform: translateY(-50%);

        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 2s clip-path;
    }

    .unwrap:hover::before {
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }

    .nav__link:hover {
        color: var(--color-dark-blue);
    }

    .close-icon,
    .menu,
    .media {
        display: none;
    }

    .nav__item-portfolio {
        position: relative;
    }

    .portfolio-nav-sub {
        list-style: none;
        display: initial;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100%;
        height: 0;

        overflow-y: clip;

        transition: 1s all ease;
    }

    .sub__item,
    .sub-sub__item {
        display: flex;
        justify-content: center;
        text-align: center;
        position: relative;
    }

    .sub__link,
    .sub-sub__link {
        width: 100%;
        text-decoration: none;
        color: var(--color-light-blue);
        padding: 1.4rem 0.7rem;
        cursor: pointer;

        text-decoration: none;
    }

    .sub__item:hover .sub__link,
    .sub-sub__item:hover .sub-sub__link {
        color: var(--color-dark-blue);
    }

    .nav__item-portfolio:hover > .portfolio-nav-sub {
        height: 66.5rem;
    }

    .nav-sub-sub {
        display: initial;
        list-style: none;
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 0;

        overflow: clip;
        transition: 0.3s all ease;
    }

    .sub__item-zdjecia-biznesowe:hover > .nav-sub-sub-zdjecia-biznesowe {
        height: 21.4rem;
    }

    .sub__item-zdjecia-wnetrz:hover > .nav-sub-sub-zdjecia-wnetrz {
        height: 23.95rem;
    }

    .nav-sub-sub-wydarzenia {
        top: -19.875rem;
    }

    .sub__item-wydarzenia:hover > .nav-sub-sub-wydarzenia {
        height: 26.5rem;
    }
}
